@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Open sans, san-serif;
  box-sizing: border-box;
}


body{
  width: 100%;
  font-family: inherit;
  background: linear-gradient(150deg, #E7EFF4 18%, #F9FAFA 30.2%);  
  background-image: 
    radial-gradient(at 9% 89%, hsla(315, 90%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 9%, hsla(76, 65%, 93%, 1) 0px, transparent 50%);
}
/* body{
  width: 100%;
  font-family: inherit;
  background: linear-gradient(150deg, #E7EFF4 18%, #F9FAFA 30.2%);  
} */


.section-space{
  padding: 50px 130px;
}

.btn {
  min-width: 130px;
  height: 60px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ff6392;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
.btn:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}



header .business-logo{
    display: block;
    width: 12rem;
    
}

header ul li i{
font-size: 10px;
padding-left: 10px;
}

header li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

header li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header input{
  height: 2.5rem;
  width: 100%;
  font-size: 12px;
  padding: 0 1.2em;
  border: 1px solid #0e0e0e;
  border-radius: 3px;
  outline: none;
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

header label i{
  position: absolute;
  padding: 15px;
  background: #9CBA42;
  height: 2.5rem;
  font-size: 12px;
  color: #fff;
  border: none;

}

header #close{
  display: none
}

/* header li .close2{
  display: none
}
 */
header .btn-mobile{
  display: none
}

header button.btn {
  min-width: 100px;
  height: 2.5rem;
  font-size: 12px;
  color: #fff;
  padding: 5px 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #9CBA42;
  color: #495057;
  position: relative;
  margin-left: 50px
}

header button.btn:hover{
    background: #9CBA42;
    color: #E3E6F3;
}

header .active{
  color: #9cba42
}
header ul li:hover{
/*   background-color: #9CBA42; */
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.sub-menu-1{
  display: none;
  
}

header ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: #fff;
  margin-top: 15px;
  margin-left: -15px;
  
}

header ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
  
}

header ul li:hover .sub-menu-1 ul li{
  width: 250px;
  padding: 15px;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

header ul li:hover .sub-menu-1 ul li a:hover{
  color: #9CBA42
}

header .toggle-collapse{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
    align-items: center;
}

header .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

header .toggle-collapse .toggle-icons i{
    font-size: 2rem;
    color: #525252;
}

.section-1{
  padding-top: 70px;
}
.project-section{
  display: flex;
  justify-content: space-between;
  
}

.project{
  padding: 50px 130px;
}

.project h2{
  font-size:  68px; 
  font-weight: 600;
}

.project p{
  font-size: 18px; 
  font-weight: 400;
  padding: 20px 0;
  line-height: 32px
}
.project input{
height: 3.5rem; 
width: 70%; 
font-family: inherit;
font-size: 14px; 
padding: 0 1.25em;
border: 1px solid transparent; 
border-radius: 5px; 
outline: none; 
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.project button {
  min-width: 130px;
  height: 3.33rem;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ff5588; 
  white-space: nowrap; 
  box-shadow: 0 5px #ff0a78;
}
.project button:hover {
  box-shadow: 0 3px #ff0a78;
  top: 1px;
  background-color: #fff;
  border: 1px solid #ff5588;
  color: #ff5588;
}
.project button:active {
  box-shadow: 0 0 #ff0a78;
  top: 5px;
}
.project .social{
  display: flex;
/*   align-items: center; */
  text-align: center;
  
}

.project .social h6{
  padding: 20px 0; 
  font-size: 16px;
  font-weight: 500;
}

.project .social i{
  font-size: 22px;
  padding: 0 20px;
  color: #0e0e0e;  
}

.project .social i:hover{
  color: #ff5588;
}

.project-picture-section{
  margin-left: -225px
}

.project-picture-section .image{
  width: 100%;
  height: auto;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}


.project-picture-section .team{
background-color: #ffffff;
width: 600px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
border-radius: 4px; 
border-top-right-radius: 0;
border-top-left-radius: 0;

}

.project-picture-section h3{
width: 100%;
font-size: 22px; 
padding: 20px 30px; 
color: #0e0e0e;
font-weight:600;
}

.project-picture-section .topset{
  display: flex; 
  justify-content: space-between;
}

.project-picture-section .topset .profile-sec{
  display: flex;
}

.project-picture-section .topset .profile-sec .profile{
  padding: 20px 30px;
}

.profile-picture{
width:40px;
height:40px;
border-radius: 50%; 
}

.project-picture-section .topset h6{
padding: 35px 20px 5px 0; 
font-size: 12px; 
font-weight: 500; 
color: #0e0e0e;
}

.project-picture-section .topset i{
font-size: 20px; 
padding: 33px 20px 0 10px;
color: #0e0e0e;
}

.articles{
  display: flex; 
  justify-content: space-between; 

}

.articles .icons-div{
  display: flex; 
/*   padding: 50px 20px 0 0; */
}

.articles .icons-div ion-icon{
   font-size: 22px; 
  background-color: #ff5588; 
  border-radius: 50%; 
  padding: 20px; 
  color: #fff;
}

.articles h6{
  font-size: 22px; 
  font-weight: 800; 
  padding: 20px;
  color: #0e0e0e;
}

.articles .recent{
display: flex; 
flex-wrap: wrap; 

}

.articles .recent button{
background-color: #ff5588; 
color: #fff; 
white-space: nowrap; 
outline: none; 
border-right: 1px solid #eee; 
border-left: none; 
border-top: none; 
border-bottom: none; 
padding: 5px 20px; 
height: 3.5rem;
font-size: 14px;
border-radius: 5px;
cursor: pointer
}

.articles .recent button:hover{
    background: #F9FAFA;
    color:#ff5588;
}

.section-2 .flex-sec{
display: flex; 
flex-wrap: wrap;
justify-content: space-between;
margin-top: 40px;
}

.flex-sec .blog1{
  background-color: #ffffff;   
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 4px;
  width: 350px;
  margin-top: 40px;
}

.blog1 h5{
  font-size: 14px; 
  padding: 5px 30px; 
  color: #0e0e0e;
}

.blog1 h3 {
 font-size: 20px; 
  padding: 5px 30px; 
  color: #0e0e0e
}

.blog1 h3 a{
  text-decoration: none;
}

.blog1 .topset{
  display: flex; 
  justify-content: space-between;
}

.blog1 .topset .profile-sec{
  display: flex;
}

.blog1 .topset .profile-sec .profile{
  padding: 20px 30px;
}

.blog1 .topset h6{
padding: 35px 20px 5px 0; 
font-size: 12px; 
font-weight: 500; 
color: #0e0e0e;
}

.blog1 .topset i{
font-size: 20px; 
padding: 30px 20px 0 10px;
color: #0e0e0e;
}

.blog1 .icons-mail{
 padding: 30px 5px 0 30px;
}

.blog1 ion-icon{
  font-size: 24px; 
  background-color: #ff5588; 
  border-radius: 50%; 
  padding: 25px; 
  color: #fff
}

.blog1 .subscribe-div{
 margin-top: 50px
}

.blog1 .label-div{
  margin-top: 100px
}
.blog1 .subscribe-h{
  font-size: 22px; 
  padding: 10px 20px 0 30px; 
  color: #545454;
}

.blog1 .subscribe-p{
  font-size: 14px; 
  padding: 10px 0 0 30px; 
  color: #0e0e0e;
}

.blog1 .label{
  padding: 90px 20px 0 30px
}

.blog1 input{
height: 4rem; 
width: 100%; 
font-size: 14px; 
padding: 0 1.25em; 
border: 1px solid #eee; 
border-radius: 4px; 
outline: none; 
box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.blog1 .btn-div{
  padding: 20px 0 20px 30px
}

.blog1 .btn{
  width: 95%; 
  height: 60px; 
  color: #fff;
  font-size: 16px;
  padding: 5px 10px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  position: relative; 
  display: inline-block; 
  outline: none; 
  border-radius: 5px; 
  border: none; 
  background-color:#ff5588; 
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

.blog2{
display: flex; 
flex-direction: row;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-top: 40px;

}

.blog2 .topset2{
background-color: #ffffff; 
width: 350px; 
height: 550px; 
border-radius: 4px; 
border-top-right-radius: 0; 
border-top-left-radius: 0;
}

.blog2 .image3{
  width: 350px;
  height: 100%;
}
.blog2 h5{
font-size: 12px; 
padding: 30px 30px; 
color:#328BCE;
}
 
.blog2 h3 {
 font-size: 20px; 
 padding: 5px 30px; 
  line-height: 1.5;
}

.blog2 h3 a{
  text-decoration: none;
}

.blog2  .profile-sec{
  display: flex;
}

.blog2 .topset2 .profile-sec .profile{
  padding: 20px 0;
}

.blog2 .topset2 h6{
padding: 35px 20px 5px 30px; 
font-size: 12px; 
font-weight: 500; 
color: #0e0e0e;
}

.blog2 .topset2 i{
font-size: 18px; 
padding-right: 50px;
color: #0e0e0e;
}

.blog2 .profile-post{
 margin-top: 30px;
 padding: 5px 30px
}

.blog2 .profile-post p{
  font-size: 12px
}

.blog2 .profile-sec{
  margin-top: 200px
}

.load{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 
}

.load .btn{
  font-size: 14px;
  padding: 10px 15px;
  height: 50px
}

.features-div{
  display: flex;
  justify-content: space-between
}

.features-div .features-writer{
  display: flex;
  
}

.features-writer i{
  font-size: 20px;
  background-color: #ff5588;
  border-radius: 50%;
  padding: 22px;
  color: #fff;
}

.features-writer h6{
  font-size: 20px;
  padding: 20px;
}

.features .pagination i{
  font-size: 18px;
  padding: 20px;
  background-color: #ff5588;
  border-radius: 50%;
  color: #fff;
  cursor: pointer
    
}

.team-blog{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;  
}

.team-sec{
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;  
}



.team-sec img{
  width: 100px;
  height:100px;
  border-radius: 50%
}

.team-blog .team-content h4{
  font-size: 20px;
  color: #0e0e0e;
  font-weight: 600
}

.team-blog .team-content p{
  font-size: 14px;
  color: #0a0a0a;  
}

.videos{
  background: linear-gradient(120deg, #F2ECFA 18%, #FDEDF6 30.2%)
}

.videos iframe{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px
  
}

.newsletter{
  background-image: url(https://i.postimg.cc/R0Bs4qqt/b14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #fff;
  
}

.news{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;  
  
}
.news .label-div{
  display: flex;
  justify-content: space-between;
}

.news .label-div .btn{
height: 3.08rem;
font-size: 14px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.news input{
height: 3rem; 
width: 600px; 
font-size: 14px; 
border: 1px solid #eee; 
border-radius: 4px; 
outline: none; 
box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
position: relative;
padding-left: 60px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.news label{
  position: relative;
  display:flex
}

.news i{
  position: absolute;
  top: 5px;
  left: 10px;
  padding-right: 30px;
  z-index: 99;
  padding: 10px;
  font-size: 20px;
  color: #ff5588
    
}

.news input::placeholder{
padding-left: 3px  

}

.news h2{
  width: 40%;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 20px
}

.support{
  display: flex;
  justify-content: space-between;
  align-items: center;
/*   text-align: center; */
}

.support-div{
  display: flex;
  justify-content: space-between;
}

.support-div i{
  font-size: 50px;
  padding: 20px;
  color: #525252;
}

.support-div h4{
  font-size: 18px;
  padding: 30px;
  font-weight: 500;
}

.support-div h4 a{
  text-decoration: none;
  color: #0e0e0e;
  cursor: pointer
}

.support-div h4 a:hover{
  color: #ff5588
}

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
/*   background-color: #fff; */
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/*   margin-bottom: 20px; */
/*   margin-left: 50px */
}

footer h4{
  font-size: 20px;
  padding-bottom: 30px;
  color: #0e0e0e;
  text-transform: uppercase;

}

footer a{
  font-size: 18 px;
  text-decoration: none;
  color: #222;
  margin-bottom: 20px;
  font-weight: 300;
}

footer a:hover{
  color: #ff5588
}
.copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo .logo-footer{
width: 200px;
margin-bottom: 10px;

}

.logo p{
font-size: 12px;
color: #525252; 

}

.copyright .social i{
font-size: 24px;
padding-left: 20px;
color: #545454
  
}

.copyright .social i:hover{
  color: #ff5588
}

/* -------------------- Viewport less than or equal to 1280px --------*/
@media screen and (max-width:1280px){
    header ul li i{
        font-size: 12px;
    }

    header li a{
        font-size: 14px;
    }

}


/* -------------------- Viewport less than or equal to 750px --------*/

@media screen and (max-width: 769px){

    header .business-logo{
        width: 6rem;
          }

  header{
    padding: 20px 10px;
  }
  
  header #nav-list{
    flex-direction: column;
    }
  
  #nav-list{
  display: flex;
  flex-direction: column;   
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  background-color: #E3E6F3;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  padding: 80px 0 0 10px;
  transition: 0.3s
    }
  
 #nav-list.active{
  right: 0;
}

  header #close{
  display: initial;
  position: absolute;
  top: 180px;
  left: 20px;
  color: #222;
  font-size: 32px;  
}  
  header ul li:hover .sub-menu-1{
    position: relative;
  background: #fff;
  }

header ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
  
}

header ul li:hover .sub-menu-1 ul li{
  width: 300px;
  background: #fff;
  }

  header ul li i{
font-size: 16px;
padding: -20px 0px;

}

header ul li{
  list-style: none;
  padding: 20px;
  position: relative;
}

header li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
  
  header ul li #close{
    margin-top: -200px;
    font-size: 32px
    
  }


  header .business-logo{
    width: 12rem;

  }
  header label{
  margin-right: 90px;
  }
  
  header input{
  height: 2.125rem;
  width: 80%;
  font-size: 12px;
  border: 1px solid #ccc;
  
}

header label i{
  position: absolute;
  padding: 10px;
  height: 2.125rem;
  font-size: 14px;

}

  header .get-started{
    display:none
  }
  
  header .btn-mobile{
  min-width: 130px;
  height: 60px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ff6392;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
  
}
.btn-mobile:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
  }
  
  header .toggle-collapse .search{
  position: relative;
  margin-right: 10px;
  font-size: 12px;
/*   display: block */
  }

  header .toggle-collapse{
  display: initial;
/*   height: 40vh; */
        
        }
  
  .project input{
height: 3rem; 
width: 60%; 
font-family: inherit;
font-size: 16px; 
}

.project button {
  min-width: 100px;
  height: 2.9rem;
  font-size: 16px;
  
}
  
  .project .social{
    flex-direction: column;
    text-align: left;
  }

  
  .project-section{
    display: flex;
    flex-direction: column;
  }
  
  .project{
  padding: 50px 20px;
}

  .project h2{
    font-size: 45px;
  }
  
  .project-picture-section{
    margin-left: 0
  }
  .project-picture-section .team{
    width: 345px
  }
  .project-picture-section h3{
    font-size: 18px
  }
  
  .project-picture-section .topset h6{
    font-size: 12px;
  }
  .project-picture-section .topset i{
    font-size: 16px
  }
  
  .profile-picture{
width:40px;
height:40px;
}
  
/*   .......articles */
  
  .section-2{
    padding: 50px 20px;
  }
.section-2 .articles{
  flex-direction: column;
  
}

  .section-2 .recent{
    margin-top: 30px
  }  
  .section-2 .topset i{
    font-size: 20px
  }

  .flex-sec .blog1{
    width: 350px;
  }
  
  .blog1 .topset h6{
font-size: 12px;
  }
  
  .blog1 .topset .profile-sec i{
    font-size: 18px
  }

  
  .blog2{
display: flex; 
flex-direction: column;
background-color: #ffffff; 

  }

.blog2 .topset2{
width: 350px; 
height: 300px; 

}

.blog2 .image3{
  width: 350px;
  height: 320px;
}

.blog2 h5{
font-size: 14px; 
}

.blog2 h3 {
 font-size: 22px; 
}

.blog2 .topset2 .profile-sec .profile{
  padding: 25px 0;
}

.blog2 .topset2 h6{
font-size: 12px; 
}

.blog2 .topset2 i{
font-size: 20px; 
}

.blog2 .profile-post{
 margin-top: 30px;
 padding: 5px 30px
}

.blog2 .profile-sec{
  margin-top: 50px
}
  
  .section-space{
    padding: 30px 10px;
  }
  
  .features-writer i{
    font-size: 28px;
    padding: 20px;
    height: 70px;
    margin-top: 15px
  }
  .features .features-div{
    flex-direction: column;
  }
  
  
  .features .pagination i{
    display: none;
  }
    
  .team-sec{
    width: 100%
  }
  
  .videos iframe{
    height: 300px;  
  
}
  
  .news h2{
    width: 100%;
    font-size: 22px;
    line-height: 30px
  }
  .news .label-div {
    flex-direction: column;
  }
  .news .label-div input{
    width: 250px;
    font-size: 14px
     
  }
  
  .news .label-div button{
    margin-top: 20px;
  }

  .support .support-div{
    flex-direction: column;
  }
  
  .support .support-div i{
    font-size: 40px
  }
  
  .support .support-div h4{
    font-size: 14px
  }
  .copyright{
    flex-direction: column;
    align-items: center;
    
  }

  .logo .logo-footer{
    margin: 0 -30px;
  }
  
 
  .copyright .social i{
    align-items: left;
    text-align: left;
    margin-top: 10px;
    
  }
}
